.signup {
	width: 60%;
	margin: 0 auto;
	padding: 2em 0;
	// border: 1px solid #ccc;
	// border-radius: @border-radius;
	// background-color: rgba(66, 64, 64, 1);
	.boiler-form {
		margin: 0 auto;
		text-align: center;
	}
	.social {
		h1 {
			margin: 0;
		}
		width: 60%;
		margin: 1em auto;
		// border-top: 2px solid #ccc;
	}
}