.signin
	input(type='text', ng-model='existingUser.username', placeholder='username')

	input(type='password', ng-model='existingUser.password', placeholder='password')

	button(ng-click='signIn()') Sign In

	include social