link(rel='stylesheet', href='/styles/sign_up.css')


.sign_up(ng-controller='SignInCtrl')

	{{ signedIn }}

	.error(ng-show="message")
		{{ message }}

	input(type='text', ng-model='user.username', placeholder='username')

	input(type='password', ng-model='user.password', placeholder='password')

	button(ng-click='signIn()') Sign In