.navbar-container {
	height: 3.125rem;
	padding: 0 0.5rem;
	width: 100%;
	top: 0; left: 0;
	position: fixed;
	background-color: @dark-grey-blue;
	font-weight: 300;
	color: @light-grey;

	.navbar {
		margin: 0;
		height: 100%;
		list-style: none;

		a {
			color: @light-grey;
		}

		.navbar-item {
			padding: 1rem;
			display: inline-block;
		}

		.navbar-item:hover {
			background-color: @item-hover;
		}

		.navbar-dropdown {
			display: inline-block;
			height: 100%;
		}

		.brand {
			padding-top: 0.55em;
			padding-bottom: 0.55rem;
			font-size: 1.5rem;
		}

		.login {
			padding: 1rem;
		}

        button {
          border: none;
          background: none;
          color: white;
          font-size: 1em;
        }
	}
}