extends ../layout

block content
	.twitter.hero

		form#twitter-search
			.field
				input(type='text', placeholder=" Search for...", data-model="query")
			.field
				input(type='text', placeholder=" Where...", data-model="address")
			.field
				input(type='text', id='radius', placeholder=" Mile Radius...", ng-model="radius")
			.field
				button.btn.btn-green Search

		#tweets
