extends ../layout

block content
	.twitter.hero

		form#twitter-search
			.field
				input(type='text', placeholder=" Search for...", name="query")
			.field
				input(type='text', placeholder=" Where...", name="location")
			.field
				input(type='text', placeholder=" Mile Radius...", name="radius")
			.field
				button.btn.btn-green Search

		#tweets
