.navbar {
	height: 3.125rem;
	margin: 0;
	padding: 0 0.5rem;
	width: 100%;
	top: 0; left: 0;
	position: fixed;
	background-color: @dark-grey-blue;
	font-size: 1.2rem;
	font-weight: 300;
	color: @light-grey;
	list-style: none;
	
	a {
		color: @light-grey;
	}

	.navbar-item {
		padding: 1rem;
		display: inline-block;
	}
	
	.brand {
		// font-size: 1.5rem;
	}

	.login-buttons {
		text-align: center;
		margin-top: -0.5rem;
		margin-left: -13rem;
		background-color: @dark-grey-blue;
	}

	.user-nav {
		height: 100%;
		font-size: 0.8rem;
		.photo {
			height: 1rem;
			margin-right: 0.3rem;
			img {
				height: 100%;
			}
		}
		.name {
			text-align: center;
		}
		.user-menu {
			display: none;
			background-color: @dark-grey-blue;
			padding: 1rem 0.3rem;
		}
	}

}
