/******************
 * Colors
 ******************/
@facebook-blue: #385188;
@twitter-blue: #7FC1EA;

/******************
 * Fonts
 ******************/
@helvetica: 16px Helvetica, Arial, sans-serif;

/******************
 * Breakpoints
 ******************/
@lr-small-breakpoint: 24em;
@lr-med-breakpoint: 46.8em;
@lr-large-breakpoint: 50em;
@lr-xl-breakpoint: 73em;

/******************
 * Other
 ******************/
@border-radius: 0.2em;