/******************
 * Colors
 ******************/
@orange: rgba(255, 130, 61, 1);
@facebook-blue: #385188;
@twitter-blue: #7FC1EA;
@light-grey: rgba(244, 244, 244, 1);
@dark-grey-blue: rgba(44, 47, 62,1);

/******************
 * Fonts
 ******************/
@helvetica: 16px Helvetica, Arial, sans-serif;

/******************
 * Breakpoints
 ******************/
@lr-small-breakpoint: 24em;
@lr-med-breakpoint: 46.8em;
@lr-large-breakpoint: 50em;
@lr-xl-breakpoint: 73em;

/******************
 * Other
 ******************/
@border-radius: 0.2em;