//- Google Maps
//- script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXSQrFbbA7tlwdETKvc-NBBoVtsOljnJc")
script(src='/libs/jquery/dist/jquery.min.js')
script(src='/libs/bootstrap/dist/js/bootstrap.min.js')
script(data-main='/scripts/main.js', src='/libs/requirejs/require.js')
