.navbar(ng-controller="NavCtrl")
  ul.row
    li.row-block
      a.brand(href="/") Boiler.io
    li.row-block.float-right(ng-hide='isLoggedIn')
      a(href="/signup") Sign Up
    li.row-block.float-right(ng-hide='isLoggedIn')
      a(href="/login",target="_self") Log In
