.navbar
  ul.row
    li.row-block
      a.brand(href="/") Boiler.io
    li.row-block.float-right
      a(href="/signup", ng-hide='') Sign Up
    li.row-block.float-right
      a(href="/login",target="_self") Log In
