ul.navbar(ng-controller="NavCtrl")

	.navbar-item.brand
		a(href="/") Boiler.io

	if !user
		.navbar-item
			a(href="/signup") Sign Up
		.navbar-item.log-in
			a(href="/login",target="_self") Log In
			.login-buttons
				include _social

	else
		.navbar-item
			a(href="/logout",target="_self") Log Out
		.navbar-item.user-nav
			aside.photo
				img(src='http://graph.facebook.com/'+user.username+'/picture')
			aside.name
				a(href='/profile')= user.facebook.first_name