ul.navbar(ng-controller="NavCtrl")

	.navbar-item.brand
		a(href="/") Boiler.io

	.right
		if !user
			.navbar-item.log-in
				a(href="/login") Log In
				.login-buttons
					include _social

		else
			.navbar-item.user-nav
				.photo
					img(src='http://graph.facebook.com/'+user.username+'/picture')
				.name
					a(href='/profile')= user.facebook.first_name
				.user-menu
					a(href="/logout",target="_self") Log Out