.navbar
  ul.row
    li.row-block
      a.brand(href="/") Boiler.io
    //- li.row-block
    //-   a(href="#") Link
    //- li.row-block
    //-   a(href="#") Link
    //- li.row-block
    //-   a(href="#") Link
    li.row-block.float-right
      a(href="/signup") Sign Up
    li.row-block.float-right
      a(href="/login",target="_self") Log In
