.navbar
  ul.row
    li.row-block
      | Link
    li.row-block
      | Link
    li.row-block
      | Link
    li.row-block.float-right.btn-facebook
      a(href='auth/facebook') Sign Up With Facebook
