header.navbar-container
    ul.navbar(ng-controller="NavCtrl")
        li.navbar-item.brand
            a(href="/") Hogar

        li.navbar-dropdown.right
            if !user
                .navbar-item
                    a(href='/login') Log In
                .navbar-item
                    a(href='/signup') Sign Up

            else
                .navbar-item
                    a(href='/profile')= user.username