header.navbar-container
	ul.navbar.cf(ng-controller="NavCtrl")
		li.navbar-item.brand
			a(href="/") Boiler.io

		li.navbar-dropdown.right
			if !user
				.dropdown-toggle(role="button")
					a Log In
				.login-buttons.dropdown-menu(role="menu")
					include _social

			else
				.user.dropdown-toggle(role="button")
					.photo
						img(src='http://graph.facebook.com/'+user.username+'/picture')
					.name
						a(href='/profile')= user.facebook.first_name
				.user-menu.dropdown-menu(role="menu")
					a(href="/logout",target="_self") Log Out