form(action='/auth/facebook')
	button.btn-facebook
		i(class="fa fa-facebook fa-fw")
		p Sign Up With Facebook
form(action='/auth/twitter')
	button.btn-twitter
		i(class="fa fa-twitter fa-fw")
		p Sign Up With Twitter