- if (messages.success)
  div.alert.alert-success.alert-dismissible(role="alert")
    button.close(type='button', data-dismiss='alert')
      span(aria-hidden="true") &times;
      span.sr-only Close
    div= messages.success
- if (messages.error)
  div.alert.alert-danger.alert-dismissible(role="alert")
    button.close(type='button', data-dismiss='alert')
      span(aria-hidden="true") &times;
      span.sr-only Close
    div= messages.error