link(rel='stylesheet', href='/styles/twitter.css')

.twitter.hero(ng-controller="TwitterCtrl")

	.search
		.field
			input(type='text', placeholder=" Search for...", ng-model="query")
		.field
			input(type='text', placeholder=" Where...", ng-model="address")
		.field
			input(type='text', id='radius', placeholder=" Mile Radius...", ng-model="radius")
		.field
			button.btn.btn-green(ng-click="searchTwitter()") Search

	.tweets
		.tweet(ng-repeat="tweet in tweets")
			.tweet-user-image
				img(src='{{tweet.user.profile_image_url}}')
			.tweet-data
				.tweet-user {{ tweet.user.name }}
				.tweet-text {{ tweet.text }}
