.center {
  text-align: center;
}

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}

@mixin hide {
	display: none;
	visibility: hidden;
}

@mixin show {
	display: block;
	visibility: visible;
}

@mixin transition($transition) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}

@mixin box-shadow($shadow) {
	-webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
	box-shadow: $shadow;
}