
@import "mixins";
@import "variables";

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	height: 100%; width: 100%;
	padding: 0; margin: 0;
	font: $fontsize $font;
}

body {
	position: relative;
}

h1 {
	font-size: 2em;
}

h3 {
	font-size: 1.3em;
}

a {
	color: #00B7FF;
	text-decoration: none;
}

input {
	border: none;
	border-radius: 4px;
	padding-top: 0.78%;
	padding-bottom: 0.78%;
	background-color: #ccc;
	font-size: 1.4em;
	vertical-align: bottom;
}

input,
button {
	line-height:normal !important;
}

button {
	border: none;
	color: white;
	border-radius: 4px;
	font-size: 1.4em;
	padding: 0.8% 2.5%;
}

.nav {
	position: fixed;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	top: 0; left: 0;
	width: 100%;
	background-color: rgba(0,0,0,0.85);

	.nav-brand {
		display: inline-block;
		font-size: 1.3em;
		text-align: center;
	}

	.tab {
		padding-left: 2em;
		padding-right: 2em;
		display: inline-block;
		text-align: center;
		a {
			color: white;
		}
	}
}

.content {
	height: 100%; width: 100%;
	padding-top: 3em;
	overflow: auto;
}

.hero {
	background-color: red;
	border-radius: 4px;
	height: 95%; width: 95%;
	margin: 1% auto;
}