@import "mixins";
@import "variables";

.signup-button,
.signin-button {
  width: 10%; height: 50px;
  div {
    display: none;
    visibility: hidden;
  }
  &:hover div {
    display: block;
    visibility: visible;
  }
}

.signup,
.signin {
  width: 300%;
  padding: 10%;
  background-color: white;
  @include box-shadow($top-nav-box-shadow);
  margin-top: 13.6px;
  margin-left: -180%;
  text-align: center;

  input[type=text],
  input[type=password] {
    border: none;
    background-color: rgba(0,0,0,0.4);
    padding: 2% 0 2% 0; margin-bottom: 1%;
    border-radius: 3px;
    color: white;
    width: 80%;
    font-size: 1.3em;
    text-align: center;
  }

  button {
    width: 80%;
    font-size: 1.3em;
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
    padding: 2% 0 2% 0;
    color: white;
    cursor: pointer;
    border-radius: 4px;
  }

  .error {
    width: 100%;
    background-color: red;
    color: white;
  }

  .social {
    width: 100%;
    margin-top: 2%;
    padding: 2% 9%;
    text-align: center;
    img {
      margin-right: 7%;
      width: 100%;
      cursor: pointer;
    }
  }
}

.edit {
  display: block;
}