extends ../layout

block content
  .row
    h1.text-center Sign Up
    
    form.col-md-offset-4.col-md-4(role="form")
      input(type='hidden',name='_csrf',value=csrfFormToken)
      .form-group
        label(for="email")
        input.form-control(type="text", placeholder="Email", name="email")
      .form-group
        label(for="password")
        input.form-control(type="password", placeholder="Password", name="password")
      .form-group
        label(for="password_confirmation")
        input.form-control(type="password", placeholder="Password Confirmation",
        name="password_confirmation")
      .form-group
        button.btn.btn-default Sign Up