.signup
    form.boiler-form(method='POST', action='/signup')
        input(type='hidden',name='_csrf',value=csrfFormToken)
        .cf
            input(type="text", placeholder="Username", name='username')
        .cf
            input(type="text", placeholder="Email", name="email")
        .cf
            input(type="password", placeholder="Password", name="password")
        .cf
            input(type="password", placeholder="Password Confirmation",
            name="passwordConfirmation")
        .cf
            button.go(ng-click="signUp()") Sign Up