extends ../layout

block content
  .row
    h1.text-center Sign In
    
    form.col-md-offset-4.col-md-4(role="form", method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        label(for="email")
        input.form-control(type="text", placeholder="Email", name="email")
      .form-group
        label(for="password")
        input.form-control(type="password", placeholder="Password", name="password")
      .form-group
        button.btn.btn-default Sign In