extends ../layout

block content
  .row
    
    .col-md-6
      div.panel.panel-default
        div.panel-heading
          h3.panel-title.text-center Checkins
        ul.list-group#checkins

    .col-md-6.checkins
      #checkins-map