h1 Meow

.signin(ng-controller="SignUpCtrl")
	input(ng-model="user.email")
	input(ng-model="user.password")
	input(ng-model="user.passwordConfirmation")
	button(ng-click="signUp()")

	.social
		.btn-facebook