.signup(ng-controller="SignUpCtrl")
	.boiler-form
		.cf
			input(type="text", placeholder="email", ng-model="user.email")
		.cf
			input(type="password", placeholder="password", ng-model="user.password")
		.cf
			input(type="password", placeholder="password confirmation", ng-model="user.passwordConfirmation")
		.cf
			button.go(ng-click="signUp()") Sign Up

		.social
			h3 Or
			form.boiler-form(action='/auth/facebook', method='POST')
				button.btn-facebook(ng-click="signUpFacebook()")
					i(class="fa fa-facebook fa-fw")
					p Sign Up With Facebook
			br
			form.boiler-form(action='/auth/twitter', method='POST')
				button.btn-twitter(ng-click="signUpTwitter()")
					i(class="fa fa-twitter fa-fw")
					p Sign Up With Twitter