.alert {
  position: absolute;
  display: none;
  bottom: 10px;
  left: 20px;
  width: 35%;
  border-radius: 4px;
  background-color: rgba(142, 193, 218, 0.8); }
  .alert p {
    padding-top: 4%;
    padding-bottom: 4%;
    color: white;
    text-align: center; }

.alert-good {
  background-color: green; }

.alert-warning {
  background-color: red; }
