.center {
  text-align: center; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif; }

body {
  position: relative; }

h1 {
  font-size: 2em; }

h3 {
  font-size: 1.3em; }

a {
  text-decoration: none; }

.content {
  height: 100%;
  width: 100%;
  padding-top: 2em;
  overflow: auto; }

.nav {
  position: fixed;
  width: 20%;
  top: 0.3em;
  left: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: white; }
  .nav .nav-box {
    border-radius: 0.2em;
    background-color: black; }
  .nav a {
    color: white; }
  .nav .nav-brand {
    font-size: 1.6em;
    text-align: center;
    height: 2%;
    width: 30%;
    margin-bottom: 2%;
    padding-top: 4%;
    padding-bottom: 4%; }
  .nav .nav-menu {
    width: 60%;
    display: none;
    padding-top: 2em;
    text-align: center; }
  .nav .tab {
    font-size: 1em;
    padding-bottom: 2em;
    text-align: center; }
    .nav .tab a {
      cursor: pointer; }
  .nav .tab.logged-in {
    font-size: 0.8em; }
    .nav .tab.logged-in .user {
      padding-top: 0.5em;
      font-size: 1.6em; }

.hero {
  height: 95%;
  width: 95%;
  margin: 1% auto;
  cursor: default; }
  .hero .hero-title {
    text-align: center;
    font-size: 3.5em;
    font-weight: bold; }

.alert {
  height: 8%;
  border-radius: 4px;
  background-color: rgba(142, 193, 218, 0.8); }
