.signup,
.signin,
.edit {
  width: 45%;
  padding: 3%;
  position: absolute;
  top: 0;
  left: 28%;
  display: none;
  margin: 10% auto;
  text-align: center;
  border-radius: 10px; }
  .signup input[type=text],
  .signup input[type=password],
  .signin input[type=text],
  .signin input[type=password],
  .edit input[type=text],
  .edit input[type=password] {
    border: none;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 2% 0 2% 0;
    margin-bottom: 1%;
    border-radius: 3px;
    color: white;
    width: 100%;
    font-size: 2em;
    text-align: center; }
  .signup button,
  .signin button,
  .edit button {
    width: 100%;
    font-size: 2em;
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
    padding: 2% 0 2% 0;
    color: white;
    cursor: pointer;
    border-radius: 4px; }
  .signup .error,
  .signin .error,
  .edit .error {
    width: 100%;
    background-color: red;
    color: white; }
  .signup .social,
  .signin .social,
  .edit .social {
    width: 100%;
    margin-top: 2%;
    padding: 2% 9%;
    text-align: center; }
    .signup .social img,
    .signin .social img,
    .edit .social img {
      margin-right: 7%;
      width: 42.5%;
      cursor: pointer; }

.edit {
  display: block; }
