// Vendor Files
script(src='/libs/jquery/dist/jquery.min.js')
script(src='/libs/bootstrap/dist/js/bootstrap.min.js')
script(src='/libs/underscore/underscore-min.js')
script(src='/libs/backbone/backbone.js')

// App
script(src='/scripts/app.js')