.top-nav
	ul
		li.brand
			a(href='#') Boiler
		li
			a(href='#') Features
		li(ng-show='isSignedIn')
			a(href='#') Link
			ul
				li
					a(href='#') Sub Link
				li
					a(href='#') Sub Link
				li
					a(href='#') Sub Link
		li.pull-right.signup-button(ng-hide='isSignedIn')
			a(href='#') Sign Up
			include templates/users/_signup
		li.pull-right.signin-button(ng-hide='isSignedIn')
			a(href='#') Sign In
			include templates/users/_signin
		li.pull-right(ng-show="isSignedIn")
			a(ng-click="signOut()")  Sign Out
		li.pull-right(ng-show="isSignedIn")
			a(href="#/dashboard")  Dashboard