script(src="http://localhost:35729/livereload.js")
script(src='/socket.io/socket.io.js')
script(src='/components/jquery/jquery.min.js')
script(src='/components/angular/angular.min.js')
script(src='/components/angular-resource/angular-resource.min.js')
script(src='/components/angular-route/angular-route.min.js')
script(src='/scripts/animations.js')
script(src='/scripts/app.js')
script(src='/scripts/routes.js')
script(src='/scripts/controllers/users_controller.js')
//- Google Analytics: change UA-XXXXX-X to be your site's ID.
//-
  script.
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X');ga('send','pageview');