.navbar
	.tab.nav-brand
		a(href='#') Boiler
	.tab(ng-hide='isSignedIn')
		a(href='#/signup')  Sign Up
	.tab(ng-hide='isSignedIn')
		a(href='#/signin')  Sign In
	.tab(ng-show='isSignedIn')
		a(href='#/dashboard')  Dashboard
	.tab(ng-show='isSignedIn')
		a(ng-click='signOut()')  Sign Out