.navbar
  ul.nav-tabs
    li.nav-brand
      a(href='#')
        img(src='/images/glowmachine-controller.png')
    li.tab
      a(href='#') Link
    li.tab
      a(href='#') Link
    li.tab
      a(href='#') Link
    li.tab
      a(href='#') Link
  ul.right
    li.tab
      input.search(type='text')