.navbar
	.tab.nav-brand
		a(href='#') Boiler

.navmenu
	.tab
		a(href='#/signup', ng-hide='user') Sign Up
	.tab
		a(href='#/signin', ng-hide='user') Sign In
	//- .tab
	//-   a(href='#') Link
	//- .tab
	//-   a(href='#') Link