.navbar
  .nav-tabs
    .nav-brand
      a(href='#') Boiler
    //- li.tab
    //-   a(href='#') Link
    //- li.tab
    //-   a(href='#') Link
    //- li.tab
    //-   a(href='#') Link
    //- li.tab
    //-   a(href='#') Link