.social-button {
	clear: both;
	padding: 0.25rem;
	text-align: left;
	width: 100%;
	border: none;
	color: white;
	* {
		display: inline-block;
	}
}

.btn-facebook {
	.social-button;
	background-color: @facebook-blue;  
}

.btn-twitter {
	.social-button;
	background-color: @twitter-blue;
}